@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}

@-webkit-keyframes font {
        0%, 100% {
                font-size: 30px;
        }
        50% {
                font-size: 60px;
        }
}

@-webkit-keyframes transparent {
	
	0% {opacity: 0;}

	100% {opacity: 1;} 
}


.title {
     -webkit-animation: font 2s infinite;
}


h1 {
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.46) 29%,rgba(0,0,0,0) 100%);
	height: 200px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	margin: 0;
	font-size: 60px;
}

body{
	font-family: 'Bree Serif', serif;
	margin: 0;
}

p {
	font-size: 20px;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}

.wrapper {
	margin-top: 100px;
	margin-left: 120px;
	display: inline-block;
	width: 60%;
}

.sidebar {
	display: inline-block;
	float: right;
	margin-right: 120px;
	margin-left: 30px;
	width: 15%;
}

.ex1 {
	margin-top: 100px;
	font-size: 22px;
	display: block;
	height: 30px;
	width: 150px;
	color: white;
	text-align: center;
	background-color: rgb(71, 119, 69);
	float: right;
	margin-right: 60px;
	border-radius: 10px;
}

.ex1:hover {
	height: 100px;
	transition: all 1s linear;
}



.para2 {
	padding-top: 100px;
}

.ex2 {
	margin-top: 130px;
	background-color: rgb(71, 119, 69);
	font-size: 22px;
	width: 150px;
	height: 30px;
	color: white;
	text-align: center;
	display: block;
	float: right;
	margin-right: 60px;
	border-radius: 10px;
}

.ex2:active {
	height: 100px;
	transition: all 1s ease;
}

.para3 {
	padding-top: 100px;
}

.ex3 {
	margin-top: 110px;
	background-color: rgb(71, 119, 69);
	font-size: 22px;
	width: 150px;
	height: 30px;
	color: white;
	text-align: center;
	display: block;
	float: right;
	margin-right: 60px;
	border-radius: 10px;
}

.ex3:active {
	text-align: center;
	height: 100px;
	transition: all 2s ease;
}

.ex3:hover {
	text-align: center;
	border-radius: 100px;
	width: 120px;
	transition: all 1s ease;
}

.para1 {
	padding-top: 100px;
}

.ex {
	margin-top: 110px;
	background-color: rgb(71, 119, 69);
	font-size: 22px;
	width: 150px;
	height: 30px;
	color: white;
	text-align: center;
	display: block;
	float: right;
	margin-right: 60px;
	border-radius: 10px;
}

.ex:hover {
	background-color: blue;
}

.para4 {
	padding-top: 100px;
}

.ex4 {
	height: 50px;
	width: 200px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	background-color: rgb(71, 119, 69);
	float: right;
	margin-top: 100px;
	border-radius: 10px;
	font-size: 26px;
	line-height: 45px;
	box-shadow: inset 0px -10px 0px rgb(43, 87, 32);
}

.para5 {
	padding-top: 70px;
}

.ex5 {
	height: 50px;
	width: 200px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	background-color: rgb(71, 119, 69);
	float: right;
	margin-top: 100px;
	border-radius: 10px;
	font-size: 26px;
	line-height: 42px;
	box-shadow: inset 0px -10px 0px 0px rgb(43, 87, 32); 
}

.ex5:hover {
	height: 45px;
	margin-top: 105px;
	box-shadow: inset 0px -5px 0px rgb(43, 87, 32);
	transition: all .5s ease;
}

.ex5:active {
	height: 41px;
	margin-top: 109px;
	box-shadow: inset 0px -1px 0px rgb(43, 87, 32);
	transition: all .1s ease;
}

.para6 {
	padding-top: 100px;
}

.ex6 {
	height: 50px;
	width: 200px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	background-color: rgb(71, 119, 69);
	float: right;
	margin-top: 100px;
	border-radius: 10px;
	font-size: 26px;
	line-height: 42px;
	box-shadow: inset  0px -10px 0px 0px rgb(43, 87, 32);
	text-shadow: 0px 2px 1px  rgb(37, 35, 35);
	}

.ex6:hover {
	line-height: 35px;
	text-shadow: 0px 10px 10px rgb(37, 35, 35);
	transition: all 2s ease;
}

.ex6:active {
	line-height: 42px;
	text-shadow: 0px 2px 1px rgb(37, 35, 35);
	height: 41px;
	margin-top: 109px;
	box-shadow: inset 0px -1px 0px rgb(43, 87, 32);
	transition: all .3s ease;
}

.para7 {
	padding-top: 20px;
}

.ex7 {
	margin-top: 110px;
}

.para8 {
	padding-top: 0px;
}

.spin {
	width: 80px;
	height: 80px;
	margin-top: 1170px;
     -webkit-animation: infinite-spinning 2s infinite;
}

.para9 {
	padding-top: 80px;
}

.transparent {
	background-image: url(http://headshotsmarathon.org/home/wp-content/uploads/2012/02/Megaman8bit.jpg);
	display: inline-block;
	margin-top: 50px;
	width: 280px;
	height: 310px;
}

.transparent:active {
	background-image: url(http://static.gamesradar.com/images/mb/GamesRadar/us/Games/M/Mega%20Man%209/Everything%20Else/Raw/rock1--article_image.jpg);
	display: inline-block;
	margin-top: 50px;
	width: 420px;
	height: 310px;
}

.chart {

}

.line1 {
	float: right;
	display: inline-block;
	background-color: black;	
	width: 50px;
	height: 15px;
}

.line1:hover {
	float: right;
	height: 50px;
	transition: all 1s ease;
}

.line2 {
	float: right;
	display: inline-block;
	background-color: blue;
	width: 50px;
	height: 15px;
}

.line2:hover{
	float: right;
	height: 40px;	
	transition: all 1s ease;
}

.line3 {
	float: right;
	display: inline-block;
	background-color: green;
	width: 50px;
	height: 15px;
}

.line3:hover {
	float: right;
	height: 35px;	
	transition: all 1s ease;

}

.line4 {
	float: right;
	display: inline-block;
	background-color: red;
	width: 50px;
	height: 15px;
}

.line4:hover {
	float: right;
	height: 25px;
	transition: all 1s ease;
}

.para10 {
	float: left;
	padding-top: 60px;
}

.para11 {
	float: left;
	padding-top: 100px;
}

.rectangle {
	border-radius: 8px;
	display: inline-block;
	margin-top: 100px;
	background-color: rgb(71, 119, 69);
	width: 400px;
	height: 200px;
}

.rectangle:hover{
	 -webkit-animation: infinite-spinning 2s infinite;
}